<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>STD Grocery Store - Resend OTP</title>

</head>


<body style="
    margin:0;
    padding:0;
    background-color:#eef2ef;
    font-family:Arial,Helvetica,sans-serif;
">


<!-- =========================================================
 OUTER CONTAINER
========================================================= -->

<table width="100%" cellpadding="0" cellspacing="0" border="0" style="
            margin:0;
            padding:20px 0;
            background-color:#eef2ef;
        ">

    <tr>

        <td align="center">


            <!-- =================================================
             EMAIL CONTAINER - FIXED 600px
        ================================================== -->

            <table width="600" cellpadding="0" cellspacing="0" border="0" style="
                        width:600px;
                        background-color:#ffffff;
                        border-radius:14px;
                        overflow:hidden;
                    ">


                <!-- =================================================
                 HEADER
            ================================================== -->

                <tr>

                    <td width="600" height="120" style="
                                width:600px;
                                height:120px;
                                padding:0;
                                margin:0;
                                background-color:#f2f5f1;
                            ">

                        <img src="cid:headerImage" width="600" height="120" alt="STD Grocery Store" style="
                                    display:block;
                                    width:600px;
                                    height:120px;
                                    border:0;
                                    outline:none;
                                    text-decoration:none;
                                ">

                    </td>

                </tr>


                <!-- =================================================
                 MAIN CONTENT
            ================================================== -->

                <tr>

                    <td width="600" style="
                                width:600px;
                                padding:31px 30px 28px;
                                background-color:#ffffff;
                            ">


                        <!-- =========================================
                         CUSTOMER NAME
                    ========================================== -->

                        <table width="540" cellpadding="0" cellspacing="0" border="0">

                            <tr>

                                <td width="540" align="center" style="
                                            padding:0 0 13px;
                                        ">

                                    <h1 style="
                                            margin:0;
                                            padding:0;
                                            font-size:25px;
                                            line-height:32px;
                                            font-weight:700;
                                            font-family:Arial,Helvetica,sans-serif;
                                        ">
                                        <span style="color:#000000;">Hi</span>
                                        <span th:text="${customerName}" style="color:#28a745;"></span>
                                    </h1>

                                </td>

                            </tr>

                        </table>


                        <!-- =========================================
                         NOTIFICATION
                    ========================================== -->

                        <table width="540" cellpadding="0" cellspacing="0" border="0">

                            <tr>

                                <td align="center" style="
                                            padding:0 0 4px;
                                        ">

                                    <p style="
                                                margin:0;
                                                padding:0;
                                                color:#666666;
                                                font-size:14px;
                                                line-height:21px;
                                                font-family:Arial,Helvetica,sans-serif;
                                            ">
                                        We received a request to resend your
                                        verification code.
                                    </p>

                                </td>

                            </tr>


                            <tr>

                                <td align="center" style="
                                            padding:0;
                                        ">

                                    <p style="
                                                margin:0;
                                                padding:0;
                                                color:#666666;
                                                font-size:14px;
                                                line-height:21px;
                                                font-family:Arial,Helvetica,sans-serif;
                                            ">
                                        Use the new OTP below to verify your email address.
                                    </p>

                                </td>

                            </tr>

                        </table>


                        <!-- =========================================
                         DIVIDER + SHIELD
                    ========================================== -->

                        <table width="540" cellpadding="0" cellspacing="0" border="0" style="
                                    margin-top:25px;
                                    margin-bottom:22px;
                                ">

                            <tr>

                                <!-- LEFT LINE -->

                                <td width="240" valign="middle">

                                    <table width="240" cellpadding="0" cellspacing="0" border="0">

                                        <tr>

                                            <td style="
                                                        height:1px;
                                                        background-color:#dddddd;
                                                        font-size:1px;
                                                        line-height:1px;
                                                    ">
                                                &nbsp;
                                            </td>

                                        </tr>

                                    </table>

                                </td>


                                <!-- GAP -->

                                <td width="12">
                                    &nbsp;
                                </td>


                                <!-- SHIELD -->

                                <td width="36" height="40" align="center" valign="middle">

                                    <table width="36" height="40" cellpadding="0" cellspacing="0" border="0" style="
                                                width:36px;
                                                height:40px;
                                                background-color:#07933d;
                                            ">

                                        <tr>

                                            <td width="36" height="40" align="center" valign="middle" style="
                                                        width:36px;
                                                        height:40px;
                                                        color:#ffffff;
                                                        font-size:20px;
                                                        line-height:40px;
                                                        font-weight:bold;
                                                        font-family:Arial,Helvetica,sans-serif;
                                                    ">
                                                ✓
                                            </td>

                                        </tr>

                                    </table>

                                </td>


                                <!-- GAP -->

                                <td width="12">
                                    &nbsp;
                                </td>


                                <!-- RIGHT LINE -->

                                <td width="240" valign="middle">

                                    <table width="240" cellpadding="0" cellspacing="0" border="0">

                                        <tr>

                                            <td style="
                                                        height:1px;
                                                        background-color:#dddddd;
                                                        font-size:1px;
                                                        line-height:1px;
                                                    ">
                                                &nbsp;
                                            </td>

                                        </tr>

                                    </table>

                                </td>

                            </tr>

                        </table>


                        <!-- =========================================
                         OTP TITLE
                    ========================================== -->

                        <table width="540" cellpadding="0" cellspacing="0" border="0">

                            <tr>

                                <td align="center" style="
                                            padding:0 0 13px;
                                        ">

                                    <h2 style="
                                                margin:0;
                                                padding:0;
                                                color:#333333;
                                                font-size:18px;
                                                line-height:24px;
                                                font-weight:600;
                                                font-family:Arial,Helvetica,sans-serif;
                                            ">
                                        Your New OTP is
                                    </h2>

                                </td>

                            </tr>


                            <!-- OTP -->

                            <tr>

                                <td align="center">

                                    <table cellpadding="0" cellspacing="0" border="0" style="
                                                border:1px solid #07933d;
                                                border-radius:8px;
                                                background-color:#f1f8f4;
                                            ">

                                        <tr>

                                            <td align="center" style="
                                                        padding:12px 26px;
                                                        color:#07933d;
                                                        font-size:28px;
                                                        line-height:32px;
                                                        font-weight:700;
                                                        letter-spacing:7px;
                                                        font-family:Arial,Helvetica,sans-serif;
                                                    " th:text="${otp}">
                                                123456
                                            </td>

                                        </tr>

                                    </table>

                                </td>

                            </tr>


                            <!-- OTP EXPIRY -->

                            <tr>

                                <td align="center" style="
                                            padding-top:13px;
                                        ">

                                    <p style="
                                                margin:0;
                                                padding:0;
                                                color:#777777;
                                                font-size:13px;
                                                line-height:20px;
                                                font-family:Arial,Helvetica,sans-serif;
                                            ">
                                        ⏱ This OTP is valid for 5 minutes.
                                    </p>

                                </td>

                            </tr>

                        </table>


                        <!-- =========================================
                         SECURITY BOX
                    ========================================== -->

                        <table width="540" cellpadding="0" cellspacing="0" border="0" style="
                                    margin-top:23px;
                                    border:1px solid #dcefe4;
                                    border-radius:9px;
                                    background-color:#f6faf8;
                                ">

                            <tr>

                                <!-- SECURITY ICON -->

                                <td width="45" valign="top" style="
                                            width:45px;
                                            padding:14px 0 14px 14px;
                                        ">

                                    <table width="32" height="36" cellpadding="0" cellspacing="0" border="0" style="
                                                width:32px;
                                                height:36px;
                                                background-color:#07933d;
                                            ">

                                        <tr>

                                            <td width="32" height="36" align="center" valign="middle" style="
                                                        width:32px;
                                                        height:36px;
                                                        color:#ffffff;
                                                        font-size:16px;
                                                        line-height:36px;
                                                        font-weight:bold;
                                                        font-family:Arial,Helvetica,sans-serif;
                                                    ">
                                                ✓
                                            </td>

                                        </tr>

                                    </table>

                                </td>


                                <!-- SECURITY CONTENT -->

                                <td valign="top" style="
                                            padding:13px 14px 13px 8px;
                                        ">

                                    <h3 style="
                                                margin:0 0 5px;
                                                padding:0;
                                                color:#222222;
                                                font-size:15px;
                                                line-height:20px;
                                                font-weight:600;
                                                font-family:Arial,Helvetica,sans-serif;
                                            ">
                                        Secure Verification
                                    </h3>


                                    <p style="
                                                margin:0 0 5px;
                                                padding:0;
                                                color:#666666;
                                                font-size:12px;
                                                line-height:18px;
                                                font-family:Arial,Helvetica,sans-serif;
                                            ">
                                        Your previous OTP is no longer valid.
                                    </p>


                                    <p style="
                                                margin:0;
                                                padding:0;
                                                color:#666666;
                                                font-size:12px;
                                                line-height:18px;
                                                font-family:Arial,Helvetica,sans-serif;
                                            ">
                                        Please do not share this code with anyone.
                                    </p>

                                </td>

                            </tr>

                        </table>


                        <!-- =========================================
                         THANK YOU
                    ========================================== -->

                        <table width="540" cellpadding="0" cellspacing="0" border="0" style="
                                    margin-top:22px;
                                ">

                            <tr>

                                <td align="center">

                                    <p style="
                                                margin:0 0 5px;
                                                padding:0;
                                                color:#555555;
                                                font-size:14px;
                                                line-height:20px;
                                                font-family:Arial,Helvetica,sans-serif;
                                            ">
                                        Thank you,
                                    </p>


                                    <h3 style="
                                                margin:0;
                                                padding:0;
                                                color:#07933d;
                                                font-size:16px;
                                                line-height:22px;
                                                font-weight:600;
                                                font-family:Arial,Helvetica,sans-serif;
                                            ">
                                        STD Grocery Store Team
                                    </h3>

                                </td>

                            </tr>

                        </table>

                    </td>

                </tr>


                <!-- =================================================
                 FOOTER
            ================================================== -->

                <tr>

                    <td width="600" style="
                                width:600px;
                                padding:16px 25px;
                                background-color:#f6faf8;
                                border-top:1px solid #e5e5e5;
                            ">

                        <table width="550" cellpadding="0" cellspacing="0" border="0">

                            <tr>


                                <!-- =================================
                                 SOCIAL ICONS
                            ================================== -->

                                <td width="275" align="left" valign="middle">

                                    <table cellpadding="0" cellspacing="0" border="0">

                                        <tr>

                                            <!-- FACEBOOK -->

                                            <td width="30" height="30" align="center" valign="middle" style="
                                                        width:30px;
                                                        height:30px;
                                                        background-color:#1877f2;
                                                        border-radius:50%;
                                                    ">

                                                <a href="#" style="
                                                            color:#ffffff;
                                                            text-decoration:none;
                                                            font-size:18px;
                                                            line-height:30px;
                                                            font-weight:bold;
                                                            font-family:Arial,Helvetica,sans-serif;
                                                        ">
                                                    f
                                                </a>

                                            </td>


                                            <td width="8">
                                                &nbsp;
                                            </td>


                                            <!-- INSTAGRAM -->

                                            <td width="30" height="30" align="center" valign="middle" style="
                                                        width:30px;
                                                        height:30px;
                                                        background-color:#d62976;
                                                        border-radius:50%;
                                                    ">

                                                <a href="#" style="
                                                            color:#ffffff;
                                                            text-decoration:none;
                                                            font-size:16px;
                                                            line-height:30px;
                                                            font-weight:bold;
                                                            font-family:Arial,Helvetica,sans-serif;
                                                        ">
                                                    ◎
                                                </a>

                                            </td>


                                            <td width="8">
                                                &nbsp;
                                            </td>


                                            <!-- WEBSITE -->

                                            <td width="30" height="30" align="center" valign="middle" style="
                                                        width:30px;
                                                        height:30px;
                                                        background-color:#07933d;
                                                        border-radius:50%;
                                                    ">

                                                <a href="#" style="
                                                            color:#ffffff;
                                                            text-decoration:none;
                                                            font-size:15px;
                                                            line-height:30px;
                                                            font-weight:bold;
                                                            font-family:Arial,Helvetica,sans-serif;
                                                        ">
                                                    ◉
                                                </a>

                                            </td>

                                        </tr>

                                    </table>

                                </td>


                                <!-- =================================
                                 SUPPORT
                            ================================== -->

                                <td width="275" align="right" valign="middle">

                                    <table cellpadding="0" cellspacing="0" border="0">

                                        <tr>

                                            <td width="32" align="center" valign="middle" style="
                                                        width:32px;
                                                        color:#07933d;
                                                        font-size:24px;
                                                        font-family:Arial,Helvetica,sans-serif;
                                                    ">
                                                ♧
                                            </td>


                                            <td width="8">
                                                &nbsp;
                                            </td>


                                            <td align="left" valign="middle">

                                                <p style="
                                                            margin:0;
                                                            padding:0;
                                                            color:#666666;
                                                            font-size:12px;
                                                            line-height:17px;
                                                            white-space:nowrap;
                                                            font-family:Arial,Helvetica,sans-serif;
                                                        ">
                                                    Need help? Contact us at
                                                </p>


                                                <a href="mailto:support@stdgrocery.com" style="
                                                            color:#07933d;
                                                            font-size:12px;
                                                            line-height:17px;
                                                            font-weight:600;
                                                            text-decoration:none;
                                                            font-family:Arial,Helvetica,sans-serif;
                                                        ">
                                                    support@stdgrocery.com
                                                </a>

                                            </td>

                                        </tr>

                                    </table>

                                </td>

                            </tr>

                        </table>

                    </td>

                </tr>


            </table>

        </td>

    </tr>

</table>


</body>

</html>