@media (max-width: 400px)
{
    .info-item
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        margin: -10px -10px;
    }

    .info-item p, 
    .info-item h4,
    .small-text,
    .divider
    {
        display: none;
    }
}


@media (max-width: 600px)
{
    .info-item
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        margin: -10px -10px;

    }

    .info-item p, 
    .info-item h4,
    .small-text,
    .divider
    {
        display: none;
    }
}

@media (max-width: 850px)
{
    .info-item
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        margin: -10px -10px;

    }

    .info-item p, 
    .info-item h4,
    .small-text,
    .divider
    {
        display: none;
    }
}

.top-info-bar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F1F9F2;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    overflow-x: hidden;
    border-bottom: 1px solid #EAEAEA;
    padding: 12px 24px;
}

.info-item
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-leaf, .icon-shield-check, .icon-delivery, .icon-earphone, .icon-heart
{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #F2F9F3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    background-color: #087124;
}

.small-text
{
    font-size: 14px;
    color: #666;
}

.info-item h4
{
    margin: 0;
    font-size: 13px;
    font-weight: 600;

}

.info-item p
{
    margin: 2px 0 0;
    color: #666;
    font-size: 12px;
}

.divider {
    width: 1px;
    height: 40px;
    background-color: #ddd;
    margin: 0 5px;
}